{% extends 'imagerie/base.html' %}
{% block title %} Imagerie {% endblock %}
{% block content %}
<h4>Modalités </h4>
<ul>
{% for  tache in taches %}
        <li>
        <h3>
        {% if tache.closed %}
                <span class="closed">{{tache.name}}</span>
        {% else %}
                {{tache.name}}
        {% endif %}
        </h3>
        <h4>{{tache.description }} </h4>
        <p>
        Date de rendu: {{tache.colored_due_date}}
        </p>
        <p>
        Date de debut: {{tache.schedule_date}}
        </p>
        </li>
{% endfor %}
</ul>
{% endblock %}
</html>
